html{
    font-size: 16px;
}

/*Header section*/
header{
  display: flex;
  align-items: center;
  height: 64px;
  padding-left: 24px;
  max-width: 2000px;

}
.header{
  display: flex;
  flex-grow: 1;
  align-items: center;

}
#bold{
    font-weight: 900;
}
.name{
    font-size: 1.5rem;
}
.logo{
    height: 3.5rem;
}
.desktop{
    display: flex;
}
nav span{
    padding-left: 16px;
}
.mobile{
  display: none;
}
}
/*main section*/
.main{
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 2rem;
    max-width: 2000px;
    width: 100%;
    border: 1px solid gold;
}
}
.container{
  display: flex;
}
.quarter{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    margin: 0;
    background-color: #d9d7c5;
    font-size: 4rem;
}

.banner{
  width: 60%;
  padding: 32px 40px 32px 24px;
}

.banner img{
  width: 100%;
}
.text{
    margin-top: 1rem;
    font-size: 2.5rem;
}
.content{
  width: 40%;
}
.learn{
  width: 75%;
  font-size: 4rem;
}
.learn h1{
  font-size: 4rem;
}
.button a{
    display: block;
    background-color: #323329;
    border: none;
    color: white;
    text-decoration: none;
    padding: 8px 0 8px 0;
    margin-top: 3.8rem;
    text-align: center;
    font-size: 2rem;
  }
  .button a:hover{
    background-color: red;
    color: white;
    transition: background-color 100ms ease-out 1ms,
    color 100ms ease-in 1ms;
  }

/* second quarter */
.quarter2{
    display: flex;
    background-color: whitesmoke;
    margin: 0 auto;
    
}
.quarter2content{
    display: block;
    width: 60%;
    padding: 32px 24px;
    width: 60%;
}

.imgcontent img{
        width: 100%;
  }
.txtcontent{
    margin-top: 32px;
    font-size: 1.5rem;
    padding-bottom: 8px;
}
.txtcontent h1{
    margin-bottom: 24px;
    font-size: 3.5rem;
}
.bold{
    margin-top: 24px;
    font-weight: 200;
}
.pictures{
    align-items: center;
    display: flex;
    padding: 0 0 16px 16px;
    background-color: #f0f1eb;
    
}
.pictures img{
    width: 35%;
    padding: 16px;
}
.column{
    width: 40%;
    display: block;
    font-size: 1.5rem;
    line-height: 1.3;
    padding-top: 32px;
    padding-bottom: 32px;
    border-left: 1px solid lightgray; 

}
.column a, h4{
    padding-bottom: 8px;
}
.column a{
  text-decoration: none;
  color: royalblue;
}
.orientation{
    padding-left: 16px;
}
.column a{
    padding-top: 25px;
}
.info{
    padding-left: 16px;
}
.info a{
    padding-top: 16px;
}
.qarter2.pictures{
    background-color: lightgray;
}
/* begin Q3 */
.courses{
  display: block;
  background-color: #f2f2e9;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
.title{
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}
.titletext h1{
  font-size: 4rem;
}
.classes{
    padding: 32px;
}
.description{
    background-color: whitesmoke;
    width: 33.333%;
    margin: 16px;
}
.gallery img{
  padding-bottom: 10px;
  width: 100%;
}
.textcontainer{
   padding: 16px 16px 24px 16px;
}
.row{
    display: flex;
}
.textcontainer h5{
    
}
.textcontainer p{
  padding: 8px 0 8px 0;
  color: lightslategrey;
}
/* begin 4th quarter*/
.quarter4{
    display: flex;
    background-color: whitesmoke;
    margin: 0 auto;
    
}
.quarter4content{
    display: block;
    width: 60%;
}
.fourthimgcontent{
    padding: 32px 16px 32px 24px;
}
.secondcolumn{
    padding: 32px;
    
    display: block;
    font-size: 1.5rem;
    line-height: 1.3;

}
.titlecontainer{
  display: block;
  background-color: whitesmoke;
}
.info span{
  padding-top: 60px;
  
}

/* footer section */
footer{
    display: flex;
    font-size: 1rem;
    padding-left: 24px;
    height: 64px;
}
footer h9{
  flex-grow: 1;
}
footer p{
    padding-right: 12px;
}
/* MEdia queries below */
.learnmobile{
  display: none;
}
.mobileclasses{
  display: none;
}
.mobileq1{
    display: none;
}
.mobilecolumn{
    display: none;
}
.mobilecourses{
    display: none;
}
.video-wrapper{
    display: none;
}
/* Quarter 1 section mediaquerys*/
@media only screen and (max-width: 375px){
 .header, .desktop, .container.quarter{
        display: none;
    }
    .mobile{
        display: flex;
        height: 64px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    .mobile img{
        width: 10%;
    }
    .mobileq1{
        display: inline;
        font-size: 1.5rem;
    }
    .mobilespace{
        height:180px;
        background-color: darkgray;
        width: 100%;
    }
    .mobiletron{
        padding: 0 16px 0 16px;
        background-color: lightgrey;
    }
    .mobiletron h1{
        padding: 32px 0 32px 0;
        font-size: 2.5rem;
    }
    .button a{
    display: block;
    background-color: #323329;
    border: none;
    color: white;
    text-decoration: none;
    padding: 8px 0 8px 0;
    margin-top: 3.8rem;
    text-align: center;
    font-size: 2rem;
  }
}
/* second quarter media querys*/
@media only screen and (max-width: 375px){
    .quarter2{
        display: none;
    }
    .mobilecolumn{
        display: inline;
        width: 100%;
    }
    .mobilepics img{
        width: 100%;
    }
    .mobilecontainer{
        padding: 16px 16px 32px 16px;
    }
    .mobiletext{
        padding-left: 16px;
        padding-top: 16px;
        line-height: 1.5;
    }
    
}
/* third quarter media querys */
@media only screen and (max-width: 375px){
    .courses{
        display: none;
    }
    .mobilecourses{
        display: inline;
        
    }
    .mobiletitle{
        border: 1px solid lightgray;
        padding: 16px;
        background-color: whitesmoke;
    }
    
    .mobileoption{
        background-color: lightgray;
    }
    .mobiletitletext{
        text-align: center;
        padding: 32px 0 16px 0;
        font-size: 2rem;
    }
    .mobileop{
        padding: 0px 16px 8px 16px;
    }
    .mobileoption{
         padding: 16px;
         
    }
    .mobileoption span{
        font-weight: bold;
    }
}
/* fourth quarter media querys */
@media only screen and (max-width: 375px){
.video-wrapper {
    position: relative;
}

.video-wrapper > video {
    width: 100%;
    vertical-align: middle;
}

.video-wrapper > video.has-media-controls-hidden::-webkit-media-controls {
    display: none;
}

.video-overlay-play-button {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 10px calc(50% - 50px);
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    opacity: 0.95;
    cursor: pointer;
    background-image: linear-gradient(transparent, #000);
    transition: opacity 150ms;
}

.video-overlay-play-button:hover {
    opacity: 1;
}

.video-overlay-play-button.is-hidden {
    display: none;
}
}
@media only screen and (max-width: 375px){
    footer{
        display: none;
    }
}